In [ ]:
Dictionaries
> it works on the concept of set unique data
> Keys,values is the unique identifier for a value
> Each key is separated from its values with
colon(:)
> Each key and vale is separated by comma(,)
> Dictionaries enclosed with curly braces({})

In [1]:
d1 = {"Name":"Gitam","EmailId":"gitam@gmail.com","Address":"Hyderabad"}
print (d1)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [2]:
d1["Name"] #Access the specific key

'Gitam'

In [4]:
d1['EmailId'] ='Gitam-Python@gmail.com' #Update the data

In [5]:
d1["EmailId"]

'Gitam-Python@gmail.com'

In [6]:
del d1['EmailId'] #Delete the specific key value

In [7]:
d1["EmailId"]

KeyError: 'EmailId'

In [8]:
d1 # del d1 will delete the entire dict object

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [9]:
d1.keys() #returns the list of keys

dict_keys(['Name', 'Address'])

In [10]:
d1.values() #returns the values

dict_values(['Gitam', 'Hyderabad'])

In [11]:
d1.items() #the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

In [ ]:
### Tuples #-t1 parenthesis () li square brackets[] #-Difference between list and tuples #> -list are mutable-can
be chanfed/modified #> -Used to access modify,add,Delete data #> -Tuples are immutable-cannot be changed
#> -Used to data only

In [12]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

In [ ]:
Contact
* Add Contact
* Search the Contact
* List all contacts # Dict and list
    - name1:phone1
    - name2:phone2
* Modify the contact
* Remove the contact
* Import the contact

In [14]:
# Add contact
contacts = {} # Creating a dict object
def addContact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("Contact details are added")
    else:
        print("Contact details are already exist")
    return
addContact('Anurag','9030396936')
addContact('Anudeep','9492111956')
addContact('Anurag','9030396936')

Contact details are added
Contact details are added
Contact details are already exist

In [16]:
# Search for contact details
def searchContact(name):
    if name in contacts:
        print(name," : ", contacts[name])
    else:
        print("%s does not exist" % name)
    return
searchContact('Anurag')
searchContact('Anil')
searchContact('Anudeep')

Anurag  :  9030396936
Anil does not exist
Anudeep  :  9492111956

In [17]:
# Import some contacts
# Merge the contact with existing one
def importContact(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successfully")
    return
newContacts = {'Vinay':7901086611,'Chetan':9985918274}
importContact(newContacts)

2 Contacts added successfully

In [18]:
print(contacts)
print(newContacts)

{'Anurag': '9030396936', 'Anudeep': '9492111956', 'Vinay': 7901086611, 'Chetan': 9985918274}
{'Vinay': 7901086611, 'Chetan': 9985918274}

In [19]:
contacts

{'Anurag': '9030396936',
 'Anudeep': '9492111956',
 'Vinay': 7901086611,
 'Chetan': 9985918274}

In [20]:
# Delete a contact
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deleteContact('Chetan')

Chetan deleted successfully

In [21]:
# Update the contact details
def deleteContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"Updated successfully")
    else:
        print(name,"Not exists")
    return
deleteContact('Anurag',7985156781)
deleteContact('Chetan',7864574568)

Anurag Updated successfully
Chetan Not exists

In [22]:
#String
#classical version
li=["Python","Programming"]
print("%s %s"%(li[0],li[1]))

Python Programming

In [23]:
print("{0} {1}" .format(li[0],li[1]))

Python Programming

In [24]:
li1 = [1,2,3,4]
print("%d %d %d %d" % (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [ ]:
String Functions
* upper() -- Will convert given string into upper case
* lower() -- Will convert given string into lower case

In [25]:
s1='Gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

In [ ]:
Boolean Functions (True or False)
* islower() -- True if the string is lower case /False if the string not lower case
* isupper() -- True if the string in upper case /False if string not in upper case
* islittle() -- True if the string follows title case / False
* isalpha() -- True if the string contains only alphabets
* isnumeric() -- True if the string contains only numbers /False
* isspace() --

In [26]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [27]:
s2 = "Python Programming"
s3 = "python Programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [28]:
s2 = "Application1889"
s3 = 'PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [29]:
s1="1234"
s2="Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [30]:
s1 = " "
s2= "Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

In [ ]:
String Methods
* .join() -- Method will concatenate the two strings
* .split() -- split() returns the list of strings separated by a whitespace(no parameters are given)
* replace() -- replaces the specific word/character with new word /character

In [31]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [32]:
s2 = "Python Programming Easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,s,y, ,t,o, ,l,e,a,r,n

In [33]:
li = ['Python','Programming','Learn']
print(",".join(li))

Python,Programming,Learn

In [35]:
s2 = "Python Programming Easy to learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'learn']

In [36]:
s2 = "Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [37]:
s2 = "Python Programming Easy to learn"
li=s2.split() #split the string -- List object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [38]:
s2 = "Python Programming Easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [39]:
s2 = "Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn

In [40]:
Packages and Modules
Packages
    - A collection of Modules(Single Python file .py) and subpackages
Module
    - A single Python c=file containing set functions
Packages --> Sub Packages -->Modules -->Functions -->Statements

IndentationError: unexpected indent (<ipython-input-40-d4916248ff27>, line 3)

In [41]:
# Import the externals packages to python file
import math
math.floor(123.45)

123

In [42]:
from math import factorial as fact
fact(5)

120

In [43]:
items=[1,5]
print("s",items)

s [1, 5]

In [44]:
# Function to generate N random numbers in given range
import random
def randomNNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomNNumbers(10,0,100)

84 1 49 37 51 92 3 11 60 63

In [ ]:
# Create a Simple Game
# Generate 20 random numbers 0 to 500
#i/p : number
#o/p :congrats
# Try once again!!!

In [ ]:
def generateNumbers(n,lb,ub)