### Transforming Code into Idioatic Python
- Replace traditional index manupulation with Python core looping idiomatic

In [1]:
# Looping over a range of numbers - Traditional Approach
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")

0 1 4 9 16 25

In [2]:
# Idiomatic Programming
for i in range(6):
    print(i**2,end=" ")

0 1 4 9 16 25

### Looping over a Collection

In [3]:
colors = ['red','green','yellow','purple']
for i in range(len(colors)):
    print(colors[i],end=" ")

red green yellow purple

In [4]:
for color in colors:
    print(color,end=" ")

red green yellow purple

### Looping backwards

In [5]:
colors = ['red','green','yellow','purple']
for i in range(len(colors)-1,-1,-1):
    print(colors[i],end=" ")

purple yellow green red

In [6]:
for color in reversed(colors):
    print(color,end=" ")

purple yellow green red

### Looping in Sorted List

In [9]:
colors = ['red','green','yellow','purple']
for color in sorted(colors):
    print(color,end=" ")

green purple red yellow

In [10]:
colors = ['red','green','yellow','purple']
for color in sorted(colors,reverse=True):
    print(color,end=" ")

yellow red purple green

###
- if x <= y and y <= z :
- if x<=y<=z:
- if x == True:
- if x:

### Pandas

In [11]:
import pandas as pd

In [14]:
dt = {'Id':[11,12,13,14,15],
     'first_name':['A','B','C','D','E'],
        'company':['aa','bb','cc','dd','ee'],
        'address':['Hyd','Hyd','Hyd','Hyd','Hyd']}
mydt = pd.DataFrame(dt)

In [15]:
print(mydt)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [16]:
import os

In [24]:
os.chdir("pathfile")   #saves to certain location

In [23]:
os.mkdir("pathfile")

In [25]:
mydt.to_csv('WorkingFile.csv',index = False)

### Reading the data from CSV file

In [26]:
mydata = pd.read_csv('WorkingFile.csv')

In [35]:
pwd

'C:\\Users\\mplab\\pathfile'

In [28]:
print(mydata)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [33]:
mydata1 = pd.read_csv('WorkingFile.csv',skiprows=1,
                      names=["CustId","Name","Company","Address"])

In [34]:
print(mydata1)

   CustId Name Company Address
0      11    A      aa     Hyd
1      12    B      bb     Hyd
2      13    C      cc     Hyd
3      14    D      dd     Hyd
4      15    E      ee     Hyd

### Print Only Two columns
### Print the large value from CustID column --max
### Print the least value from CustID column --min
### Average of CustID column -- sum(li)/len(li)